/* <img alt="logo" fetchpriority="high" width="33" height="33" decoding="async" data-nimg="1" style="color:transparent"  */

.main-logo {
  width: 33px;
  height: 29.45px;
  padding: 2px;
  color: transparent;
  max-width: none;
  position: relative;
  top: -5px;
}

.main-logo:hover {
  cursor: pointer;
}

.logo-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  padding: 0.5rem;
}

.logo-div2 {
  position: relative;
  display: inline-block;

}

.left-bar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  gap: 1rem;
  z-index: 50;
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251/var(--tw-bg-opacity));
  align-items: center;
  flex-direction: column;
  display: flex;
  max-width: 5rem;
  min-width: 5rem;
}

.top-part {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  border-top-width: 2px;
  --tw-border-opacity: 1;
  border-top: 2px solid rgb(229, 231, 235);
}

.top-part2 {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

/* .top-part2:hover {
  background-color: #e5e7eb;
  border-radius: 5px;
} */

.book-part {
  position: relative;
  display: inline-block;
}

.book-link {
  display: flex;
}

.book-logo {
  padding: 0.75rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  box-sizing: border-box;
}

.book-logo:hover {
  content: "Browse Course";
  cursor: pointer;
  --tw-border-opacity: 1;
  border-radius: 0.75rem;
  box-sizing: border-box;
  background-color: #e5e7eb;
}

.align-middle-with-padding {
  padding: 1rem;
  align-items: center;
  width: 3rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-of-bar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;
  align-self: flex-end
}

.bottom-of-bar2 {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  cursor: pointer;
}

.arrow {
  position: relative;
  display: inline-block;
}

.bottom-logo {
  padding: 0.75rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  rotate: 90deg;
  border-radius: 0.75rem;
}

.bottom-logo:hover {
  cursor: pointer;
  --tw-border-opacity: 1;
  border-radius: 0.75rem;
  box-sizing: border-box;
  background-color: #e5e7eb;
}

.bottom-logo2 {
  padding: 0.75rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  border-radius: 0.75rem;
}

.bottom-logo2:hover {
  cursor: pointer;
  --tw-border-opacity: 1;
  border-radius: 0.75rem;
  box-sizing: border-box;
  background-color: #e5e7eb;
}

.titles-div {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  display: flex;
  margin-top: 2.5rem;
}



.main-part {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  display: flex;
}

.main-part2 {
  gap: 2rem;
  flex-direction: column;
  width: 100%;
  display: flex;
}

@media (max-width: 640px) {
  .sm:text-xs {
    font-size: .75rem;
    line-height: 1rem;
  }
}

.drop-shadow-md, .filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.drop-shadow-md {
  --tw-drop-shadow: drop-shadow(0 4px 3px rgba(0,0,0,.07)) drop-shadow(0 2px 2px rgba(0,0,0,.06));
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: TT Commons Pro Variable,Segoe UI,Arial,sans-serif;
  font-weight: 500;
}

.unilectives-title {
  font-size: 4.5rem;
  line-height: 2.5rem;
  --tw-text-opacity: 1;
  font-weight: 700;
  margin: 0;
  font-family: TT Commons Pro Variable,Segoe UI,Arial,sans-serif;
  cursor: pointer;
}

.description-of-title {
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: bold;
  justify-content: center;
  margin-top: 0;
  font-family: TT Commons Pro Variable,Segoe UI,Arial,sans-serif;
}

.input-box {
  --tw-bg-opacity: 1;
  --tw-border-opacity: 1;
  border-color: rgb(156 173 233/var(--tw-border-opacity));
  border-width: 2px;
  border-radius: 0.25rem;
  align-items: center;
  width: 80%;
  display: flex;
  padding: 1rem;
  flex-grow: 1; 
  border: none; 
  outline: none; 
  padding-left: 1rem;
  padding-right: 0.5rem; 
  height: 100%;
}

.input-box::placeholder {
  color: #9CADE9;
  font-family: TT Commons Pro Variable,Segoe UI,Arial,sans-serif;
  font-style: normal;
  font-weight: 600;
}

.magnify-logo {
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 0.75rem;
  color: #9CADE9;
}

.search-box-wrapper {
  display: flex;
  align-items: center;
  border: 2.8px solid rgb(156, 173, 233); 
  border-radius: 0.25rem;
  width: 100%; 
  box-sizing: border-box; 
}

.centered-div {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 250px;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.close-btn {
  position: absolute;
  align-items: center;
  bottom: 1rem;
  padding: 1rem;
  background-color: black;
  flex-direction: column;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-container {
  display: inline-block;
  font-family: TT Commons Pro Variable,Segoe UI,Arial,sans-serif;
}

.dropdown-button {
  padding: 0%;
  color: #989898;
  max-width: 200px;
  min-width: 150px;
  border: 0.1px solid #989898;
  border-radius: .375rem;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  position: relative;
  margin-top: -15px;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  z-index: 10;
  flex: 1 1 0%;
  width: 83.333333%;
}

.dropdown-arrow {
  position: absolute;
  right: 8px;
  margin-top: 2px;
  width: 1rem;
  height: 1rem;
  font-weight: bold;
  color: black;
}

.sort-by-text {
  margin-left: 10px;
  font-family: TT Commons Pro Variable,Segoe UI,Arial,sans-serif;
}